* {
    box-sizing: border-box;
  }
  body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    background-image: url("../Imagenes/FondoAntivirus.jpeg");
  }
  
  nav {
    float: left;
    width: 100%;
    background-image: url
    padding: 5px;
  }
  
  /* Style the list inside the menu */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: 
    }
  
  li {
    float: left;
  }
  li a {
    display: block;
    color: rgb(255, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  
  li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  
  article {
    float: left;
    padding: 20px;
    width: 90%;
    background-color: #ffffff;
   }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 10px) {
    nav, article {
      width: 100%;
      height: auto
    }
  }
